.scroll-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem;
  overflow-x: auto;
  scroll-behavior: smooth;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar {
    display: none;
  }
}

.scroll-button {
  background: transparent;
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 2;
  padding: 0;

  &.left {
    margin-right: -2rem;
  }

  &.right {
    margin-left: -2rem;
  }

  &:hover {
    color: #e11d48;
  }
}
