.theme-switch {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  color: var(--text, #fff);
  position: absolute;
  right: 7rem;
  top: 3.5%;

  @media (max-width: 900px) {
    top: 30%;
    font-size: 0.5rem;
    color: white;
  }
}

.theme-switch input {
  display: none;
}

.theme-switch .slider {
  position: relative;
  width: 50px;
  height: 24px;
  background-color: #e50914; /* Netflix red */
  border-radius: 24px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.theme-switch .slider::before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  right: 55%;
  top: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.theme-switch input:checked + .slider::before {
  transform: translateX(26px);
}

.theme-switch input:checked + .slider {
  background-color: #444;
}
